html {
  box-sizing: border-box;
}

body{margin:4px;}

table, th, td {
    width:70%;
    height:100%;
    color:white;
    text-align:center;
    border:1px solid black;
    padding:10px
}

.logm{margin-left:200px;}
.logm-2{margin-left:50px; width:85%;}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  font-size:25px;
  padding: 10px;
  width:4%;
}

.grid-item-L {
  color:white;
  background-color:green;
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  margin-right:2px;
  padding: 20px;
  text-align: center;
}

.grid-item-O {
  color:white;
  background-color:skyblue;
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 20px;
  text-align: center;
}

.grid-item-G {
  color:white;
  background-color:navy;
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  margin-right:2px;
  padding: 20px;
  text-align: center;
}

.grid-item-M {
  color:white;
  background-color:red;
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  margin-bottom:5px;
  margin-right:5px;
  padding: 20px;
  text-align: center;
}

/* CHARTER CARD */

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float:left;
  width: 33%;
  margin-bottom: 4px;
  padding:4px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0,0.2);
  margin:4px;
}

.about-section {
  padding: 50px;
  text-align: center;
}

.container {
  padding:10px;
}

.container::after, .row::after {
  clear:both;
  display:table;
}

@media screen and (max-width: 600px) {
  .column {
    width:100%;
    display:block;
  }
